@import './reset.css';

@import './fonts.css';

@import './settings.scss';

.wr-preview {
    background-image:  linear-gradient(360deg, rgba(252,227,138,0.9) 0%,rgba(243,129,129,0.9) 100%), url(../media/wr-preview.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-top: 28px;

}

.header-fixed {
    position: fixed;
    background-color:#95e1d3;
    z-index: 100;
    width: 100%;
    padding-bottom: 20px;
    font-weight: bolder;
    transition: .4s;

  }

.wr-preview .logo {
    color: #fff;
    font-size: 30px;
    font-family: 'MontserratB';
}

header ul {
    display: flex;
    height: 100%;
}

.container-nav {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav a {
    font-family: 'MontserratReg';
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
}

header nav li {
    margin-left: 55px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: .3s;
}

header nav {
    height: 100%;
}

.container-nav .link {
    position: relative;
    transition: .3s;
}

.container-nav .link:hover {
    color:#fce38a;
    
}

.container-nav .link::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #fce38a;
    top:100%;
    left: 0;
    z-index: 1;
    margin-top: 10px;
   
}

.container-nav .link:hover::after {
    display: block;
    
}



header .icons {
    align-items: center;
    
    
}


header  li {
    margin-left: 42px;
}

header .cart {
    margin-left: 52px;
    padding: 4px;
    transition: .3s;
}

header .cart:hover {
    background-color:rgba(252,227,138, .4);
    border-radius: 60%;
    
}


header .mglass {
    margin-left: 52px;
    padding: 4px;
    transition: .3s;
}

header .mglass:hover {
    background-color:rgba(252,227,138, .4);
    border-radius: 60%;
    
}

.wr-promo h1 {
    font-family: 'MontserratB';
    font-size: 150px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
   
    letter-spacing: -0.4;
}

.wr-promo h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 45px auto 50px;
    position: relative;

}



.wr-promo .btn-container {
    display: flex;
    
}

.wr-promo .btn {
    transition: .3s;
}


.wr-promo .title {
    font-family: 'Kaushan Script';
    font-size: 72px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 120px;
}

.btn-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    height: 40px;
    width: 160px;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 3px solid;
    font-family: 'MontserratB';
    font-size: 14px;
}

.btn:hover {
    background-color:#f38181;
    opacity: .8;
    color: #fff;
    border-radius: 30px;
}

.dots {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dots .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 93px;
}

.dots .number {
    font-family: 'MontserratB';
    font-size: 24px;
    text-transform: uppercase;
}

.dots .item {
    font-family: 'MontserratReg';
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-top: solid 3px #ffffff;
    width: 265px;
    padding-top: 10px;
    opacity: .7;
    position: relative;
}


.dots .active {
    opacity: 1;
}

.dots .active::before {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.wr-promo .container {
    max-width: 1110px;
}

.wr-promo .container .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .title {
        text-align: center;
    }

     
    .btn-container {
        justify-content: center;
        align-items: center;
    }


}




/*set wr-about*/


.wr-about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}



.wr-about span {
    font-family: 'RobReg';
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    color: #999999;
    max-width: 954px;
    margin-bottom: 100px;
}

.wr-about .pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.wr-about .super-team {
    font-family: 'MontserratB';
    font-size: 18px;
    background-color: #95e1d3;
}

.wr-about .item {
    background-image: linear-gradient(360deg, rgba(252,227,138,0.9) 0%,rgba(243,129,129,0.9) 100%);
    transition: .4s;
}

.super-team:hover .item img {
    opacity: .1;
}

.super-team:hover .item {
    transform: translate(-10px, -10px);
}

.super-team:hover .item::before {
    content: url(../media/team.png);
    display: block;
    position: absolute;
    left: 170px;
    top: 100px;
}

.super-team:hover .item::after {
    content: 'SUPER TEAM';
    display: block;
    position: absolute;
    left: 130px;
    top: 130px;
}
.wr-about .item img {
    width: 380px;
    height: 250px;
}


/*set wr-numbers*/

.wr-numbers {
    background-color:#95e1d3;
    
    box-sizing: border-box;
    
    .container {
        display: flex;
        flex-direction: row;
        font-family: 'MontserratReg';
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
    .num1 {
        padding: 88px 33px;
        border-left: solid 1px rgba(255,255,255, .4);
    }
    .num2 {
        padding: 88px 60px;
        border-left: solid 1px rgba(255,255,255, .4);
    }
    .num3 {
        padding: 88px 48px;
        border-left: solid 1px rgba(255,255,255, .4);
    }

    .num4 {
        padding: 88px 65px;
        border-left: solid 1px rgba(255,255,255, .4);
    }
    .num5 {
        padding: 88px 72px;
        border-left: solid 1px rgba(255,255,255, .4);
        border-right: solid 1px rgba(255,255,255, .4);
    }
    p {
        font-family: 'MontserratB';
        font-size: 72px;
        margin-bottom: 30px;
    }

    
}

/*set wr-work*/

.wr-work {
    
    

    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px 0px;
    margin-bottom: 110px;
    }
   

    .first-row, .second-row {
        display: flex;
        flex-direction: row;
        color: #000;
    }
    .first-row {
        border-bottom: solid 1px #e5e5e5;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .list {
        display: flex;
        
    }
    img {
        width: 32px;
        height: 30px;
        margin-right: 30px;
    }
    h4 {
        text-transform: uppercase;
        font-family: 'MontserratReg';
        font-size: 14px;
        color: #333;
        margin-bottom: 15px;
        font-weight: bolder;
    }
    p {
        font-family:'RobReg';
        color: #999;
        font-size: 15px;
        line-height: 1.6;
    }
    .descrip1 {
        margin-right: 66px;
    }
    .descrip2 {
        margin-right: 77px;
    }
}

/*set wr-design*/

.wr-design {
    background-image: linear-gradient( rgba(255,255,255,0.85) 0%,rgba(255,255,2255,0.85) 100%), url(../media/blackandwhite1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        }
   

        .laptop {
            background-image: url(../media/ipad.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 477px;
            height: 582px;
        }

        img {
            position: relative;
            top: 200px;
            left: 360px;
        }
}

/*set wr-service*/

.wr-service {
    margin-bottom: 120px;
    

    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
  
    span {
        font-family: 'RobReg';
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
        color: #999999;
        max-width: 954px;
        margin-bottom: 90px;
    }

    .content {
        font-family: 'RobLI';
        font-size: 15px;
        color: #999;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    img {

        max-width: 570px;
        width: 100%;
        margin-right: 30px;
        height: 380px;
    }

.right-section {
    width: 600px;
    
}
    
.accordion1,
.accordion2,
.accordion3 {
    font-family: 'MontserratReg';
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    padding: 17px 15px 2px 15px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.6s;
    border:solid 1px #e5e5e5;
}

.right-section button:not(:first-child) {
    margin-top: 10px;
}
  
  
  .active {
    background-color: #fff;
    
  }
  

  .accordion1:hover {
    background-color: rgba(149,225,211, .3);
  }
  .accordion2:hover {
    background-color: rgba(149,225,211, .3);
  }
  .accordion3:hover {
    background-color: rgba(149,225,211, .3);
  }

  
  .panel {
    padding: 23px 25px;
    background-color: white;
    display: none;
    overflow: hidden;
    line-height: 1.6;
    height: 143px;
    border: solid 1px #e5e5e5;
    
    
    p {
        overflow-y: scroll;
        height: 100%;
    }
  }

  p::-webkit-scrollbar {
    
      width: 5px;
      border-radius: 40px;
      
  }
  p::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      border-radius: 30px;
  }
  p::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      height: 50px;
      border-radius: 30px;
  }


  .accordion1:after {
    content: url(../media/arrowdown.png); 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .accordion2:after {
    content: url(../media/arrowdown.png); 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  .accordion3:after {
    content: url(../media/arrowdown.png); 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  
  .active:after {
    content: url(../media/arrow-up.png); 
  }
  .accordion1:before {
    content: url(../media/picture.png); 
    float: left;
    margin-right: 15px;
    position: relative;
    top:-7px;
  }

  .accordion2:before {
    content: url(../media/lines.png); 
    float: left;
    margin-right: 15px;
    position: relative;
    top:-7px;
  }
  .accordion3:before {
    content: url(../media/circle.png); 
    float: left;
    margin-right: 15px;
    position: relative;
    top:-7px;
  }

}

/*set wr-slider*/

.wr-slider {
    background-color: #f8f8f8;
    font-family: 'RobLI';
    font-size: 24px;
    color: #999;
    display: flex;
    padding: 70px 0px;
    line-height: 1.5;
    width: 100%;

    p {
        padding-right: 30px;
    }

    span {
        font-family: 'Kaushan Script';
        color: #333;
        font-size: 24px;
    }

    span::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-right: 10px;
        position: relative;
        top: -5px;
    }

    .container {
        max-width: 1110px;
    }

    .container .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin-right: 60px;
        margin-left: 60px;
        float: left;
    }
    
    .container .slick-prev:before,
    .container .slick-next:before {
        content: '';
        display: block;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container .slick-prev:before {
        background-image: url('../media/arrowleft.png');
    }
    
    .container .slick-next:before {
        background-image: url('../media/arrowright.png');
    }

    .container .slick-prev, 
    .container .slick-next {
        height: 22px;
        width: 12px;
        
    }
}

/*set wr-team*/ 


.wr-team {
    


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        }
      

        span {
            font-family: 'RobReg';
            font-size: 15px;
            line-height: 1.6;
            text-align: center;
            color: #999999;
            max-width: 954px;
            margin-bottom: 90px;
        }

        .pictures {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            position: static;
        }
        
        .team {
            font-family: 'MontserratB';
            font-size: 18px;
            background-color: #95e1d3;
        }
        
        .image {
            background-image: linear-gradient(360deg, rgba(252,227,138,0.9) 0%,rgba(243,129,129,0.9) 100%);
            position: relative;
            transition: .4s;
        }
        
        .team:hover .image img {
            opacity: .1;
        }
        .team:hover .social {
            opacity: 1;
        }
        
        .team:hover .image {
            transform: translate(-10px, -10px);
        }

        .social {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 208px;
            left: 75px;
            opacity: 0;
            transition: .5s;
            
        }



        .item1, .item2, .item3, .item4 {
            background-color: #fce38a;
            width: 56px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1px;
        }

        .item1:hover, .item2:hover, .item3:hover, .item4:hover {
            background-color: #f38181;
            transition: .3s;
        }

        .item1:hover .fa-facebook-f, .item2:hover .fa-twitter, .item3:hover .fa-pinterest-p, .item4:hover .fa-instagram {
            color: #fff;
        }




        .fa-facebook-f, .fa-twitter, .fa-pinterest-p, .fa-instagram {
            font-size: 26px;
            color: #f38181;

        }

        
        h5 {
            text-transform: uppercase;
            font-family: 'MontserratReg';
            font-size: 14px;
            color: #333;
            margin-bottom: 10px;
            font-weight: bolder;
        }

        p {
            font-family: 'RobLI';
            font-size: 15px;
            color: #999;
        }

        .title {
            display: flex;
            flex-direction: row;
            width:100%;
            margin-top: 30px;
            align-items: center;
            position: relative;
            margin-bottom: 100px;
        }

        .name1 {
            margin-left: 140px;
            text-align: center;

        }
        .name2 {
            margin-left: 260px;
            text-align: center;

        }
        .name3 {
            margin-left: 255px;
            text-align: center;

        }
        
    
}



/*set wr-brands*/

.wr-brands {
    background-color: #f8f8f8;
    height: 250px;
    display: flex;
    flex-direction: column;
    
    img {
        margin-top: 65px;
        margin-left: 10px;
    }
}


/*set wr-examples*/ 

.wr-examples {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        
        }
        
        span {
            font-family: 'RobReg';
            font-size: 15px;
            line-height: 1.6;
            text-align: center;
            color: #999999;
            max-width: 954px;
            margin-bottom: 90px;
        }

    

    

    .grid{
        
        height: 780px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        

    }

    .item1, .item2, .item3, .item4, .item5, .item6, .item8 {
        position: relative;
        transition: .3s;
    }
    

    .item1 {
    
        
        background-image: url(../media/grid1.png);
    }
    .item2 {
        
        
        background-image: url(../media/grid2.png);
    }
    .item3 {
        grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-column-end: 3;


        
        
        background-image: url(../media/grid3.png);
    }
    .item4 {
        
        
        background-image: url(../media/grid5.png);
    }


    .item5 {
        
        
        background-image: url(../media/grid4.png);
    }


    .item6 {
        
        
        background-image: url(../media/grid6.png);
    }



    .item8 {
        grid-column-start: 4;
    grid-row-start: 2;
        
        background-image: url(../media/grid7.png);
    }

    .hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 160px;
        left: 156px;
        opacity: 0;
        transform: translate(-47%, -10%);
        width: 90%;
        transition: .3s;
    }

    .item3 .hover {
        top: 320px;
    }


    .item1:hover {
    background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid1.png);
    }

    .item2:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid2.png);
    }
    .item3:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid3.png);
    }

    .item4:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid5.png);
    }

    .item5:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid4.png);

    }

    .item6:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid6.png);
    }

    .item8:hover {
        background-image: linear-gradient(360deg, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%), url(../media/grid7.png);
    }


    .item1:hover .hover, .item2:hover .hover, .item3:hover .hover, .item4:hover .hover, .item5:hover .hover, .item6:hover .hover, .item8:hover .hover {
        
        opacity: 1;
    }

    img {
        height: 30px;
        width: 30px;
        margin-bottom: 20px;
    }

    h4 {
        font-family:'MontserratReg' ;
        font-size: 14px;
        font-weight: bolder;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    h5 {
        font-family:'RobLI' ;
        font-size: 15px;
    }

     
   

    
}

/*set wr-slider1*/

.wr-slider1 {
    
    font-family: 'RobLI';
    font-size: 24px;
    color: #999;
    display: flex;
    padding: 70px 0px;
    line-height: 1.5;
    width: 100%;

    p {
        padding-right: 30px;
    }

    span {
        font-family: 'Kaushan Script';
        color: #333;
        font-size: 24px;
    }

    span::before {
        content: '';
        display: inline-block;
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-right: 10px;
        position: relative;
        top: -5px;
    }

    .container {
        max-width: 1110px;
    }

    .container .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        margin-right: 60px;
        margin-left: 60px;
        float: left;
    }
    
    .container .slick-prev:before,
    .container .slick-next:before {
        content: '';
        display: block;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container .slick-prev:before {
        background-image: url('../media/arrowleft.png');
    }
    
    .container .slick-next:before {
        background-image: url('../media/arrowright.png');
    }

    .container .slick-prev, 
    .container .slick-next {
        height: 22px;
        width: 12px;
        
    }
    .tag {
        padding-top: 45px;
    }
}




/*set wr-clients*/

.wr-clients {
    background-image: linear-gradient( rgba(255,255,255,0.85) 0%,rgba(255,255,2255,0.85) 100%), url(../media/clients.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        }
    

        img {
            width: 120px;
            height: 110px;
            margin-right: 30px;
            margin-top: -10px;
        }

       .kid {
        width: 105px;
        height: 105px;
       }
        
      
        p {
            font-family: 'RobReg';
            font-size: 15px;
            color: #999;
            line-height: 1.6;
        }
        .first-row, .second-row {
            display: flex;
            flex-direction: row;
            color: #000;
            margin-left: 25px;
        }
        .first-row {
            border-bottom: solid 1px #e5e5e5;
            padding-bottom: 50px;
            margin-bottom: 50px;
            margin-top: 55px;
        }

        .second-row {
            margin-bottom: 90px;
        }
    
        .list {
            display: flex;
           
            margin-right: 10px;
        }
        
        h4 {
            text-transform: uppercase;
            font-family: 'MontserratReg';
            font-size: 14px;
            color: #333;
            margin-bottom: 15px;
            font-weight: bolder;
        }

        h5 {
            font-family: 'RobLI';
            font-size: 15px;
            color: #333;

        }
        h5::after {
            content: '';
            display: block;
            position: relative;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 20px 0;
        }
        p {
            font-family:'RobReg';
            color: #999;
            font-size: 15px;
            line-height: 1.6;
        }
        .descrip1 {
            margin-right: 66px;
        }
        .descrip2 {
            margin-right: 77px;
        }
  
}


/*set wr-stories*/

.wr-stories {
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-bottom: 110px;
        }
    
        .first {
            background-image: url(../media/girl.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 240px;
            width: 380px;
            position: relative;
            display: flex;
            flex-direction: column;
            transition: .3s;
        }
        .second {
            background-image: url(../media/coffee.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 240px;
            width: 380px;
            position: relative;

        }
        .third {
            background-image: url(../media/stil.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 240px;
            width: 380px;
            position: relative;
        }
        .stories {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 100px;
        }

        .item {
            background-color: #95e1d3;
            width: 60px;
            height: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 160px;
            left: -10px;
        }

        h6 {
            font-family: 'MontserratB';
            font-size: 30px;
        }

        .month, .number {
            font-family: 'RobLI';
            font-size: 15px;
        }

        .number {
            color: #999;
            margin-right: 20px;
        }

        h5 {
            text-transform: uppercase;
            font-family: 'MontserratReg';
            font-size: 14px;
            color: #333;
            font-weight: bolder;
            margin-bottom: 20px;
            margin-top: 265px;
        }

        .first:hover h5, .first:hover .review, .first:hover .number, .first:hover .fa-eye, .first:hover .fa-comment-dots {
            color: #f38181;
        }

        .second:hover h5, .second:hover .review, .second:hover .number, .second:hover .fa-eye, .second:hover .fa-comment-dots {
            color: #f38181;
        }

        .third:hover h5, .third:hover .review, .third:hover .number, .third:hover .fa-eye, .third:hover .fa-comment-dots {
            color: #f38181;
        }

        
        .review {
            font-family: 'RobReg';
            font-size: 15px;
            color: #999;
            line-height: 1.6;
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 20px;
        }

        .fa-eye, .fa-comment-dots {
            color: #95e1d3;
            margin-right: 8px;
        }
       

         

        .comments {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        img {
            margin-right: 8px;
        }

        a {
            color: #fff;
        }

       
    
    }

/*set wr-map*/

    .wr-map {
        background-image: linear-gradient( rgba(255,255,255,0.85) 0%,rgba(255,255,2255,0.85) 100%), url(../media/map.png);
        

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

        }

        .container:hover img {
            content: url(../media/pinhover.png);
            display: block;
        }
        .container:hover h4 {
            color: #95e1d3;
        }
        .container:hover h4::after {
            background-color: #95e1d3;
        }

        h4 {
            font-family: 'MontserratB';
            font-size:  30px;
            text-transform: uppercase;
            color: #f38181;
        }

        
        h4::after {
            content: '';
            display: block;
            position: relative;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 22px auto 57px;
        }

        img {
            width: 20px;
            height: 26px;
            margin-top: 57px;
            margin-bottom: 18px;
        }

    
    }



    /*set wr-footer*/

    .wr-footer {
        background-color: #f8f8f8;

        .container {
            padding-top: 70px;
            display: flex;
            flex-direction: row;
            padding-bottom: 70px;
            border-bottom: 1px solid #e5e5e5 ;
        }

        .first {
            max-width: 480px;
        }
        .logo {
            font-family: 'MontserratB';
            font-size: 46px;
            color: #cccccc;
            margin-bottom: 25px;
        }

        .logo:hover {
            color: #f38181;
        }

        .description {
            font-family: 'RobReg';
            font-size: 15px;
            color: #999;
            line-height: 1.6;
            max-width: 462px;
            margin-bottom: 42px;
            
        }

        .amount {
            font-family:'MontserratB';
            color:#333 ;
            font-size: 18px;

        }

        .followers {
            font-family:'MontserratReg' ;
            color: #333;
            font-size: 14px;
            font-weight: bolder;
            padding-bottom: 20px;
        }
        hr {
            background-color:#e5e5e5;
            opacity: .3;
            margin-top: 19px;
            margin-bottom: 19px;
        }

        .nets {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 28px;
            
        }
        .nets p {
            font-family: 'RobLI';
            font-size: 15px;
            color: #999;
        }
       
        .fa-facebook-f, .fa-twitter, .fa-instagram, .fa-pinterest-p, .fa-google-plus-g, .fa-youtube, .fa-dribbble, .fa-tumblr {
            font-size: 18px;
            color: #95e1d3;
            margin-left: 20px;
        }

        
        .fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-pinterest-p:hover, .fa-google-plus-g:hover, .fa-youtube:hover, .fa-dribbble:hover, .fa-tumblr:hover {
            
            color: #f38181;
           
        }


        

        .email {
            padding: 10px 15px;
            border: 1px solid #e5e5e5;
            width: 220px;
        }

        .submit {
            cursor: pointer;
            width: 150px;
            height: 40px;
            background-color: #95e1d3;
            border: none;
            font-family: 'MontserratB';
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            margin-left: 0;
            position: absolute;
        }
        .submit:hover {
            cursor: pointer;
            width: 150px;
            height: 40px;
            background-color: #f38181;
            border: none;
            font-family: 'MontserratB';
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            margin-left: 0;
            position: absolute;
        }


        form {
            position: relative;
        }



        ::-webkit-input-placeholder {
            color: #cccccc;
            font-family: 'RobLI';
            font-size: 15px;
        }

       
        h5 {
            font-family: 'MontserratReg';
            color: #333;
            font-size: 14px;
            font-weight: bolder;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        h5:hover {
            color:#f38181;
        }

        .second {
            max-width: 340px;
            margin-left: 30px;
        }

        .third {
            margin-left: 70px;
        }

        .article {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            align-items: center;
        }

        .title {
            margin-left: 20px;
        }

        h4 {
            font-family:'MontserratReg' ;
            color: #333;
            font-size: 12px;
            font-weight: bolder;
            text-transform: uppercase;
            line-height: 1.5;
            margin-bottom: 10px;

        }
        h4:hover {
            color: #f38181;
        }

        h6 {
            font-family: 'RobLI';
            font-size: 13px;
            color: #999;
        }

        .grid {
            display: grid;
            grid-template-columns: 88px 88px 88px;
            grid-template-rows: 88px 88px 88px;
            grid-gap: 2px;
            margin-bottom: 20px;
        }

        .item1 {
            background-image: url(../media/inst1.png);
        }
        .item2 {
            background-image: url(../media/inst2.png);
        }
        .item3 {
            background-image: url(../media/inst3.png);
        }
        .item4 {
            background-image: url(../media/inst4.png);
        }
        .item5 {
            background-image: url(../media/inst5.png);
        }
        .item6 {
            background-image: url(../media/inst6.png);
        }
        .item7 {
            background-image: url(../media/inst7.png);
        }
        .item8 {
            background-image: url(../media/inst8.png);
        }
        .item9 {
            background-image: url(../media/inst9.png);
        }

        .more {
            font-family: 'RobLI';
            font-size: 13px;
            color: #999;
        }

        .more:hover {
            color: #f38181;
        }



    

    }

 footer {
    background-color: #f8f8f8;

     .container {
     padding: 25px 0;
     
     display: flex;
     justify-content: center;
     align-items: center;
     }

     h4 {
         font-family:'MontserratReg' ;
         font-size: 14px;
         color: #333;
         font-weight: bolder;
     }
 }



 @import './responsive.scss'